.cont {
  .top {
    color: #FF9302;
    border: 1px soild #ccc;
    width: 100%;
    height: 160px;
    background-color: #ffadd2;
    text-align:center;
  }

  .content{
    width:80%;
    min-height: 800px;
    margin: 0 auto;
    background-color: #f9f0ff;
    border: 1px soild #ccc;
  }

  .bottom {
    color: #F00000;
    border: 1px soild #ccc;
    width: 100%;
    height: 120px;
    background-color: #fafafa;
    text-align:center;
  }
}